body{
    background-color: darkred;
    color: whitesmoke;
}
h1 {
    text-shadow: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 40px;
}
nav {
    float: left;
    background-color: ghostwhite;
    padding: 5px;
    height: 315px;
    border-radius: 15px;
    margin-right: 0;
    box-shadow: 4px 4px 4px #000000;
}
li a {
    background-color: black;
    text-decoration: none;
    padding: 25px;
    text-transform: uppercase;
    display: block;
    box-shadow: black;
    border-radius: 15px;
    margin: 5px;
    color: whitesmoke;
    text-align: center;
    font-size: 16px;
}

    li a:hover {
        transform: scale(1.2);
    }

#info {
    background-color: black;
    box-shadow: 12px 12px 12px #000000;
    border: 5px solid white;
    margin: 25px;
    display: block;
    width: 1225px;
    padding: 15px;
    border-radius: 15px;
    
}

#image {
    display: block;
    float: right;
    width: 40%;
    height: 500px;
}
img {
    width: 60%;
    height: 70%;
    border-radius: 15px;
    box-shadow: 12px 12px 12px black;
    background-color: white;
}

#image2 {
    display: block;
    float: right;
    width: 40%;
    height: 500px;
}
#img2 {
    width: 60%;
    height: 70%;
    border-radius: 15px;
    box-shadow: 12px 12px 12px black;
    background-color: white;
}
